@charset 'utf-8';
/* 底部 */
.active {
  color: #7bbbc7 !important;
}
.footer {
  width: 100%;
  height: 0.9rem;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
}
.footer div {
  flex: 1;
  height: 100%;
  text-align: center;
}
.footer div span {
  font-size: 0.46rem;
  display: block;
  color: #989898;
}
.footer div a {
  font-size: 0.2rem;
  color: #282828;
  display: block;
}
